
/* NAV*/
.navbar{
    background: #23238E;
    /*background: #221F30;*/ /* Mais uma opção*/
    padding: 15px;
}
.nav a{
    color: white;
}
.nav li{
    margin-right: 15px;

}
.navbar-nav li a:hover{
    background: rgb(128, 0, 128);
    color: black;
}
.navbar-brand{
    display: flex;
    align-items: center;
    justify-content: center;
}
.navbar-brand span{
    color: white;
    margin-left: 20px;
}
.logo{
    width: 70px;
}
h2{
    text-align: center;
}
/* SLIDE */
.img-3{
    width: 100%;
}

.texto{
    font-family: "Arial";
}
.bem-vindo{
    position: absolute;
    color: #23238E;
    top: 35%;
    left: 30%;
    font-size: 3.5em;
    animation:  efeito 3s ease-in;
    transform: scale(1.2);
}
.texto1{
    position: absolute;
    margin-top: 30px;
    color: rgb(128, 0, 128);
    top: 45%;
    left: 30%;
    font-size: 3em;
    animation:  efeito 4s  ease-in;
    
    transform: scale(1.2);
}
@keyframes efeito {
    0% {
        opacity: 0;
        transform: scale(2);
    }
    70% {
        opacity: 1;
        transform: scale(1);
    }
    100%{
        transform: scale(1.2);
    }
}.efeito{
    position: absolute;
    top: 45%;
    left: 30%;
}
.principal{
    margin-top: 80px;
}
.esquerda,.peca1,.peca2,.peca3,.peca4,.moto{
    display: none;
    opacity:0.9;
}

/* SERVIÇOS */
.servicos{
    background: #23238E;
    color: white;
}
/* CLIENTES */
.clientes{
    background: rgb(128, 0, 128);
    color: white;
}
/* QUEM SOMOS */
.quemsomos{

}
/* CONTATO */

.contato{
    position: relative;
    background: #1F1F1F;
    position: relative

}
.contato h1{
    color: white;
    margin: 50px 0;
}


.form-control{
    width: 100%;
}

.contato input::placeholder,
.contato textArea::placeholder{
    color: white;
}

.form-group>input,
.form-group textArea{
    border: 2px solid white;
    border-radius: 8px;
    background: #1F1F1F;
    color:white;
}
.form-group{
    margin-top: 5px;
}
.form-group label{
    color: black;
}


.address{
    margin-top: 30px;
}

address .titulos-paragrafos{
    font-size: 16px;
    font-family: inherit;
    color: #ECC567;
    font-weight: bold;
}
address .conteudo{
    font-size: 13px;
    font-family: inherit;
    color: white;

}
/* FOOTER */    
footer{
    height: 80px;
    background: linear-gradient(to right,rgba(0, 0, 0, 0.9)40%, rgba(255, 255, 255, 0.2)); 
    color: white;
    text-align: center;
    font-size: 1.5em;
    padding-top: 25px;
}
footer img{
    width: 2em;
    height: 2em;
}
/* MOBILE */

@media (max-width: 768px) {

    .navbar-header button{
        border: 1px solid white;  
    }
    .navbar-header button span{
        border: 1px solid white;

    }      
    .navbar-header button:focus {
        background: rgb(128, 0, 128);
    }  
    .navbar-header button:focus  .icon-bar{
        border: 1px solid white;
    }
    .navbar-brand span{
        display:none;
    }
    /* CONTATO */ 

    /* FOOTER */  
    footer{
        height: 4em;
        font-size: 1em;
        padding: 1em;
    }
}