.navbar{
    background: #23238E;
    /*background: #221F30;*/ /* Mais uma opção*/
    padding: 15px;
}
.nav a{
    color: white;
}
.nav li{
    margin-right: 15px;

}
.navbar-nav li a:hover{
    background: rgb(128, 0, 128);
    color: black;
}
.navbar-brand{
    display: flex;
    align-items: center;
    justify-content: center;
}
.navbar-brand span{
    color: white;
    margin-left: 20px;
}
.logo{
    width: 70px;
}



.img1{
    margin-top: 170px;
    margin-left: 60%;
}

.img2{
    margin-top: 0;
}
.img3{
    margin-top: 40px;
}
.camada {
    background: linear-gradient(to right, rgba(0,0,0,1)90%,rgba(255,255,255,0));
    width: 50%;
    height: 780px;
    position: absolute;
    z-index: 1;
    top: 0px;
    left:0;
}
.texto1{
    top: 15%;
    left: 15%;
    font-size: 2em;
    font-family: inherit;
    color: white;
    border: 2px solid red;
    border-radius: 30px;
    animation: efeito 1.5s ease-in;
    transform-origin: center bottom;
    position: absolute;
    z-index: 2;
}
.motoboy {
  
    position: absolute;
    z-index: 2;
    top: 0px;
    left:30%;
    margin-top: 80px;
    animation: efeito 2s ease-in;
    transform-origin: center bottom;

}
.contato{
    background:  #221F30;
    
}

.form-group>input,
.end-form,
.num-form,
.comp-form,
.bairr-form,
.form-group>textarea{
    background: #221F30;
    border: 1px solid white;
    border-radius: 5px;
}

.form-group>input::placeholder,
.inline-form>input::placeholder,
.form-group>textarea::placeholder{
    color: white;
}

.inline-form{
    display: flex;
    margin-bottom: 15px;
}
.num-form{
    width: 10%;
    margin-left: 2px;
    margin-right: 2px;
}
.comp-form{
    width: 30%;
    margin-right: 2px;
}
.bairr-form{
    width: 30%;
    }

@keyframes efeito{
    from{
        opacity:0;
    }
    to{
        opacity: 1;
    }
}
/* MOBILE */

@media (max-width: 768px) {

    .navbar-header button{
        border: 1px solid white;  
    }
    .navbar-header button span{
        border: 1px solid white;

    }      
    .navbar-header button:focus {
        background: rgb(128, 0, 128);
    }  
    .navbar-header button:focus  .icon-bar{
        border: 1px solid white;
    }
    .navbar-brand span{
    display:none;
}
.texto3{
    top: 30%;
    left: 15%;
    font-size: 17px;
    color: white;
    animation: efeito 2.5s ease-in;
    transform-origin: center bottom;
    position: absolute;
    z-index: 2;
}
}



