.navbar{
    background: #23238E;
    padding: 15px;
}
.nav a{
    color: white;
}
.nav li{
    margin-right: 15px;

}
.navbar-nav li a:hover{
    background: rgb(128, 0, 128);
    color: black;
}
.navbar-brand{
    display: flex;
    align-items: center;
    justify-content: center;
}
.navbar-brand span{
    color: white;
    margin-left: 20px;
}
.logo{
    width: 70px;
}



.img1{
    margin-top: 170px;
    margin-left: 60%;
}

.img2{
    margin-top: 0;
}
.img3{
    margin-top: 40px;
}
.camada {
    background: linear-gradient(to right, rgba(0,0,0,1)90%,rgba(255,255,255,0));
    width: 50%;
    height: 780px;
    position: absolute;
    z-index: 1;
    top: 0px;
    left:0;
}
.texto1{
    top: 15%;
    left: 15%;
    font-size: 2em;
    font-family: inherit;
    color: white;
    border: 2px solid red;
    border-radius: 30px;
    animation: efeito 1.5s ease-in;
    transform-origin: center bottom;
    position: absolute;
    z-index: 2;
}
.motoboy {

    position: absolute;
    z-index: 2;
    top: 0px;
    left:30%;
    margin-top: 80px;
    animation: efeito 2s ease-in;
    transform-origin: center bottom;

}

@keyframes efeito{
    from{
        opacity:0;
    }
    to{
        opacity: 1;
    }
}

.servicos{
    background: #23238E;
    color: white;
}
.clientes{
    background: rgb(128, 0, 128);
    color: white;
}
.quemsomos{

}
footer{
    height: 80px;
    background: linear-gradient(to right,rgba(0, 0, 0, 0.9)40%, rgba(255, 255, 255, 0.2)); 
    color: white;
    text-align: center;
    font-size: 1.5em;
    padding-top: 25px;
}
footer img{
    width: 2em;
    height: 2em;
}
/* MOBILE */

@media (max-width: 768px) {

    .navbar-header button{
        border: 1px solid white;  
    }
    .navbar-header button span{
        border: 1px solid white;

    }      
    .navbar-header button:focus {
        background: rgb(128, 0, 128);
    }  
    .navbar-header button:focus  .icon-bar{
        border: 1px solid white;
    }
    .navbar-brand span{
        display:none;
    }
     footer{
        height: 4em;
        font-size: 1em;
        padding: 1em;

    }
}